.DS_Store
node_modules

<div class="grid-col grid-col_1/2@minSm grid-col_1/3@minMd grid-col_1/4@minLg grid-col_1/5@minXl">
            
        
            <pfdc-pet-card class="petCard petCard_result" set-last-pet-cookie="" offset="1" pf-mix-click="trackingBridge.ensighten('Consumer068');" pet-id="45279024" style="z-index: 1;">
        
            
                    <a pfdc-pet-card-link="" class="petCard-link" href="https://www.petfinder.com/dog/hokey-pokey-45279024/ca/san-francisco/muttville-senior-dog-rescue-ca1287/" aria-label="Hokey Pokey, adoptable Dog, Senior Male Maltese Mix">
                
                
                        <pfdc-lazy-load element="img" alt="Hokey Pokey, adoptable Dog, Senior Male Maltese Mix" class="petCard-media" img-class="petCard-media-img" img-animation-class="m-petCard-media-img_reveal" src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/45279024/1/?bust=1563381760&amp;width=300" sizes="300px" srcset="
                                https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/45279024/1/?bust=1563381760&amp;width=300 300w,
                                https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/45279024/1/?bust=1563381760&amp;width=450 450w,
                                https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/45279024/1/?bust=1563381760&amp;width=600 600w" aria-hidden="true"><img alt="Hokey Pokey, adoptable Dog, Senior Male Maltese Mix" class="petCard-media-img" animation-class="m-petCard-media-img_reveal" src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/45279024/1/?bust=1563381760&amp;width=300" sizes="300px" srcset="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/45279024/1/?bust=1563381760&amp;width=300 300w,
                                https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/45279024/1/?bust=1563381760&amp;width=450 450w,
                                https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/45279024/1/?bust=1563381760&amp;width=600 600w" aria-hidden="true"></pfdc-lazy-load>
                <div class="petCard-body">
                    <div class="petCard-body-details">
                        <div class="txt m-txt_xl m-txt_bold m-txt_colorPrimary m-txt_ellipsisOverflow"><span aria-hidden="true">Hokey Pokey</span> <span class="u-isVisuallyHidden">Hokey Pokey, adoptable Dog, Senior Male Maltese Mix</span></div>
                        
                            <div class="txt m-txt_colorPrimaryS2">
                                <ul>
                                    <li>
                                        <ul class="hrArray hrArray_bulletDividedSingleLine m-hrArray_center">
                                            <li>Senior</li>
                                            <li><pf-truncate line-count="1" class="txt m-txt_colorPrimaryS2">Maltese Mix</pf-truncate></li>
                                        </ul>
                                    </li>
                                    
            <li>
                <div class="txt m-txt_colorPrimaryS2 m-txt_ellipsisOverflow">
                    1 mile away
                </div>
            </li>
        
                                </ul>
                            </div>
                        
                    </div>
                </div>
                
            
                    </a>
                
            <div class="petCard-overlay">
                <div class="petCard-overlay-media">
                    
                            <pfdc-lazy-load element="img" alt="Hokey Pokey, adoptable Dog, Senior Male Maltese Mix" class="imgMask imgMask_circleFlex m-imgMask_placeholder" src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/45279024/1/?bust=1563381760&amp;width=300" sizes="300px" srcset="
                                    https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/45279024/1/?bust=1563381760&amp;width=300 300w,
                                    https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/45279024/1/?bust=1563381760&amp;width=450 450w,
                                    https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/45279024/1/?bust=1563381760&amp;width=600 600w" aria-hidden="true"><img alt="Hokey Pokey, adoptable Dog, Senior Male Maltese Mix" src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/45279024/1/?bust=1563381760&amp;width=300" sizes="300px" srcset="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/45279024/1/?bust=1563381760&amp;width=300 300w,
                                    https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/45279024/1/?bust=1563381760&amp;width=450 450w,
                                    https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/45279024/1/?bust=1563381760&amp;width=600 600w" aria-hidden="true"></pfdc-lazy-load>
                    
                        <button pf-mix-click="trackingBridge.ensighten('Consumer077')" pet-id="45279024" pfdc-pet-card-opensharebtn="" type="button" class="petCard-overlay-media-btn petCard-overlay-media-btn_share" aria-label="Open share links for Hokey Pokey">
                            <svg role="img" focusable="false">
                                <use xlink:href="#icon-share"></use>
                            </svg>
                        </button>
                    
                    <pf-element on-click="petcard-45279024.copy-link.hide-tooltip" allow-event-propagation="">
                        <button pfdc-pet-card-closesharebtn="" type="button" class="petCard-overlay-media-btn petCard-overlay-media-btn_cancel" tabindex="-1" aria-hidden="true" aria-label="Close share links for Hokey Pokey">
                            <svg role="img" focusable="false">
                                <use xlink:href="#icon-close"></use>
                            </svg>
                        </button>
                    </pf-element>
                </div>
                <div class="petCard-overlay-body">
                    <div class="petCard-overlay-body-details" aria-hidden="true">
                        <h4 class="txt m-txt_xl m-txt_bold m-txt_colorPrimary m-txt_ellipsisOverflow">Hokey Pokey</h4>
                        <ul>
                            <li>
                                <pf-truncate line-count="1" class="txt m-txt_colorPrimaryS2">Maltese Mix</pf-truncate>
                            </li>
                            <li>
                                <div class="txt m-txt_colorPrimaryS2">
                                    <ul class="hrArray hrArray_bulletDividedSingleLine m-hrArray_center">
                                    <li>Senior</li>
                                        
                                            <li>Male</li>
                                        
                                        
            <li>
                <div class="txt m-txt_colorPrimaryS2 m-txt_ellipsisOverflow">
                    1 mile away
                </div>
            </li>
        
                                    </ul>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                    <div pfdc-pet-card-overlay-body-share="" class="petCard-overlay-body-share">
                        <h4 class="txt m-txt_xl m-txt_bold m-txt_colorWhite m-txt_ellipsisOverflow u-vr2x" aria-hidden="true">Share Hokey Pokey</h4>
                        <ul class="hrArray m-hrArray_1x m-hrArray_center">
                            <li>
                                    <a href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.petfinder.com%2Fdog%2Fhokey-pokey-45279024%2Fca%2Fsan-francisco%2Fmuttville-senior-dog-rescue-ca1287%2F%3Futm_campaign%3Dsocial%2520share%2520button%26utm_medium%3Dsocial%2520media%26utm_source%3Dfacebook%26utm_content%3Dadopt" target="_blank" class="icon icon_socialCircleWhite m-icon_colorWhite" title="Share to Facebook" aria-label="Share Hokey Pokey to Facebook" tabindex="-1" aria-hidden="true">
                                        <svg role="img" focusable="false">
                                            <use xlink:href="#icon-facebook"></use>
                                        </svg>
                                    </a>
                                </li>
                            <li>
                                    <a href="https://www.twitter.com/intent/tweet/?text=Have+you+seen+a+more+perfect+maltese%3F+Hokey+Pokey+is+looking+for+a+forever+family+on+%40petfinder&amp;url=https%3A%2F%2Fwww.petfinder.com%2Fdog%2Fhokey-pokey-45279024%2Fca%2Fsan-francisco%2Fmuttville-senior-dog-rescue-ca1287%2F%3Futm_campaign%3Dsocial%2520share%2520button%26utm_medium%3Dsocial%2520media%26utm_source%3Dtwitter%26utm_content%3Dperfect%2520pet" target="_blank" class="icon icon_socialCircleWhite m-icon_colorWhite" title="Share to Twitter" aria-label="Share Hokey Pokey to Twitter" tabindex="-1" aria-hidden="true">
                                        <svg role="img" focusable="false">
                                            <use xlink:href="#icon-twitter"></use>
                                        </svg>
                                    </a>
                                </li>
                            <li>
                                    <a href="https://www.pinterest.com/pin/create/button/?media=https%3A%2F%2Fdl5zpyw5k3jeb.cloudfront.net%2Fphotos%2Fpets%2F45279024%2F1%2F%3Fbust%3D1563381760&amp;description=Hokey+Pokey+is+an+adoptable+maltese+searching+for+a+forever+family+near+San+Francisco%2C+CA.+Use+Petfinder+to+find+adoptable+pets+in+your+area.&amp;url=https%3A%2F%2Fwww.petfinder.com%2Fdog%2Fhokey-pokey-45279024%2Fca%2Fsan-francisco%2Fmuttville-senior-dog-rescue-ca1287%2F%3Futm_campaign%3Dsocial%2520share%2520button%26utm_medium%3Dsocial%2520media%26utm_source%3Dpinterest%26utm_content%3Dadopt}" data-pin-custom="true" data-pin-do="buttonPin" target="_blank" class="icon icon_socialCircleWhite m-icon_colorWhite" title="Share to Pinterest" aria-label="Share Hokey Pokey to Pinterest" tabindex="-1" aria-hidden="true">
                                        <svg role="img" focusable="false">
                                            <use xlink:href="#icon-pinterest"></use>
                                        </svg>
                                    </a>
                                </li>
                            <li>
                                    
                                    <a pf-mix-click="trackingBridge.ensighten('Consumer081');" animal-id="45279024" href="mailto:?subject=Meet%20Hokey%20Pokey%2C%20a%20Petfinder%20adoptable%20Maltese%20%7C%20San%20Francisco%2C%20CA&amp;body=Hokey%20Pokey's%20Profile%3A%20https%3A%2F%2Fwww.petfinder.com%2Fdog%2Fhokey-pokey-45279024%2Fca%2Fsan-francisco%2Fmuttville-senior-dog-rescue-ca1287%2F%0AHokey%20Pokey's%20Picture%3A%20https%3A%2F%2Fdl5zpyw5k3jeb.cloudfront.net%2Fphotos%2Fpets%2F45279024%2F1%2F%3Fbust%3D1563381760" class="icon icon_socialCircleWhite m-icon_colorWhite" title="Share via email" aria-label="Share Hokey Pokey via email" tabindex="-1" aria-hidden="true">
                                        <svg role="img" focusable="false">
                                            <use xlink:href="#icon-email"></use>
                                        </svg>
                                    </a>
                                    
                                </li>
                            <li>
                                    <pfdc-clipboard command="copy" text="https://www.petfinder.com/dog/hokey-pokey-45279024/ca/san-francisco/muttville-senior-dog-rescue-ca1287/">
                                        
                                        <a id="Petcard_45279024_Copy_Link" href="https://www.petfinder.com/dog/hokey-pokey-45279024/ca/san-francisco/muttville-senior-dog-rescue-ca1287/" class="icon icon_socialCircleWhite m-icon_colorWhite u-noChildPointerEvents" title="Copy petfinder url to clipboard" aria-label="Copy Hokey Pokey petfinder url to your clipboard" tooltip="" tooltip-text="Link Copied" tooltip-hide-after="3000" tooltip-position="bottom center" tooltip-y-offset="18" pf-mix-click="trackingBridge.ensighten('Consumer082');" animal-id="45279024" tabindex="-1" aria-hidden="true">
                                                <svg role="img" focusable="false">
                                                    <use xlink:href="#icon-link"></use>
                                                </svg>
                                            </a>
                                        
                                    </pfdc-clipboard>
                                </li>
                        </ul>
                    </div>
                </div>
                
                        <a pfdc-pet-card-link="" class="petCard-overlay-link" href="https://www.petfinder.com/dog/hokey-pokey-45279024/ca/san-francisco/muttville-senior-dog-rescue-ca1287/" tabindex="-1" aria-hidden="true" set-last-pet-cookie="" offset="1">
                            More details about Hokey Pokey
                        </a>

            </div>
        </pfdc-pet-card>
    
        </div>