body{
    box-sizing: border-box; 
}

#home-page {
    background: linear-gradient(170deg, rgb(164, 209, 219) 50%, white 50%);
    height: 100vh; 
    width: 100%; 
    max-width: 100%; 
}

/* Nav styling */
#nav-header{
    font-family: 'Lato', sans-serif;
    font-size: 16px; 
    margin-right: auto !important; 
    margin-left: 1%; 
}

#nav-search-btn {
    background-color: rgb(255, 141, 141) !important;
    color: white; 
    font-weight: bold;  
    border-radius: 25px !important; 
    font-size: 14px !important; 
    font-family: 'Heebo', sans-serif;
}

.row {
    width: 100%;
    max-width: 100%; 
}

.logo{
    right: 2%; 
    float: right; 
    position: absolute !important; 
    bottom: 5px !important; 
}

/* Home page styling */
.home-title, .home-description, .home-logo, .home-tagline, .support-header{
    text-align: center !important; 
    color: rgb(37, 37, 65); 
}

.home-title {
    font-size: 50px; 
    font-family: 'Lato', sans-serif;
    font-weight: bold; 
}

.home-description {
    font-size: 30px; 
    font-family: 'Lato', sans-serif;
}

.home-tagline{
    font-size: 20px; 
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 141, 141); 
}

.support-header{
    font-size: 30px; 
    font-family: 'Lato', sans-serif;
    margin-bottom: 3%; 

}

.support-logo{
    display: inline-block;
}

/* Jumbotron (agencies we support) styling */
.jumbotron {
    width: 60% !important; 
    margin: 0 auto !important; 
    height: 35% !important; 
    margin-top: 5% !important; 
    padding: 1% !important; 
    border-radius: 15px !important; 
    background-color: white !important; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#card-search-btn, #card-learn-btn {
    background-color: rgb(255, 141, 141) !important;
    color: white; 
    font-weight: bold; 
    border-radius: 25px !important; 
    font-size: 14px !important;  
    margin: 0 auto !important; 
    margin-top: 2% !important; 
    font-family: 'Heebo', sans-serif;
}

#card-learn-btn {
    background-color: rgb(37, 37, 65) !important;
}

.text-center {
    margin: 0 auto !important;  
}

#petsMart-logo {
    margin-left: 8%; 
    margin-right: 8%; 
}

/* Display elements styling */
#display {
    background-color: rgb(37, 37, 65);
    margin-left: 0px; 
    margin-right: 0px; 
}

/* Sidebar elements styling */
#sidebar {
    margin-top: 2%; 
}

/* Doge display card element */
#doges {
    margin-top: 3%; 
    margin-bottom: 3%; 
}

.card {
    width: 23% !important; 
    margin-bottom: 2%; 
    float: left; 
    margin-left: 1%; 
    margin-right: 1%; 
    height: 325px !important; 
    border: none !important; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.card-body {
    padding: 3%; 
    height: 45% !important; 
    position: relative;
}

.card-img-top {
    height: 55% !important; 
}

.card-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px !important; 
    margin-bottom: 2px !important; 
    color: rgb(37, 37, 65); 
}

.card-title {
    margin-bottom: 1%; 
    font-family: 'Lato', sans-serif;
    font-size: 22px !important; 
    color: rgb(37, 37, 65); 
}

.visit-site-btn{
    background-color: none !important;
    color: rgb(253, 149, 149) !important;  
    font-size: 14px !important;  
    font-family: 'Lato', sans-serif;
    left: 0px; 
    position: absolute !important; 
    bottom: 0px;
    padding-left: 3px !important;  
    padding-bottom: 2px !important; 
}


/* ~~~~~~~~~~~~~ */
#sidebar {
    margin-top: 2%; 
    font-family: 'Lato', sans-serif;
    color: white !important; 
}

.dropdown-header{
    margin-top: 5%; 
    font-size: 17px; 
    color: white !important; 
    border-bottom: solid white 3px !important;  
}

.dropdown-item {
    color: white !important; 
}

.dropdown-item:hover {
    color: black !important; 
}

#see-comment, #write-comment {
    font-size: 10px; 
    font-family: 'Heebo', sans-serif;
    width: 50%; 
    margin: 0px; 
    margin-bottom: 3px; 
    display: inline-block;
    color: green; 
    cursor: default; 
}

.form-group{
    height: 80% !important; 
    margin-left: 2%;
    margin-right: 2%; 
}

.comment-body {
    padding-left: 3%;
    padding-right: 3%; 
}

.delete {
    color: rgb(179, 6, 6);
    font-size: 10px; 
    margin-bottom: 3%; 
}

#main-comment {
    margin-bottom: 1%; 
}

#no-comment {
    color: green; 
}

.submit {
    color: green; 
    font-size: 13px; 
    font-weight: bold; 
    cursor: default; 
}

